DJANGO_ALLOWED_HOSTS="localhost 127.0.0.1 [::1]"

DB_NAME=skypro_l27
DB_USER=skypro_l27
DB_PASSWORD=skypro_l27
DB_HOST=db
# For localhost use
#DB_HOST=localhost
DB_PORT=5432

EMAIL_ENGINE=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_HOST_USER=example@gmail.com
EMAIL_HOST_PASSWORD=password
EMAIL_PORT=587

SECRET_KEY="django-insecure-vpvsd0%a*6n1s4@w+wmt*loc_p4zw^pw6z@e8e21iwii%m3&5"
DEBUG=True
